                    * {
                        padding: 0px;
                        margin: 0px;
                    }
                    
                    h1 {
                        color: #a84040;
                        background-color: rgb(58, 9, 104);
                        text-align: center;
                        font-size: 30px;
                        margin: 6px;
                        padding: 15px;
                        border: 5px solid rgba(10, 189, 10, .4);
                    }
                    
                    .ha1 {
                        color: #fff;
                        background-color: rgb(1, 1, 255);
                        display: inline-block;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        margin-left: 8px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-left: 10px;
                        padding-right: 10px;
                        border: 5px dotted rgb(8, 5, 5);
                    }
                    
                    .ha2 {
                        margin: 10px;
                        color: rgb(184, 118, 33);
                    }
                    
                    div {
                        margin: 15px;
                    }
                    
                    a {
                        color: rgb(43, 201, 12);
                        background-color: rgb(22, 22, 22);
                        text-decoration: none;
                        margin: 15px;
                        padding: 15px;
                        display: inline-block
                    }